@charset "UTF-8";



	.input{
		right:0px;
	}
	.input{
		right:5px;
	}
	
	
	
	
	
span {
	border:1px solid black;
	padding:3px;
	border-image-outset:2px;
}

.img {
	border:1px solid black;
	padding:3px;
}

.img {
	border:1px solid black;
	padding:3px;
}




