@charset "UTF-8";

*{
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	
}

header{
	top:0;
	left:0;
	width:100%;
	height:200px;
	background-color: #EBDEF0;
	color: #3498DB;
	display: flex;
	justify-content: space-between;
	
}



h1{
	text-align: center;
	order: 2;
	align-self: center;
}

header h2{
	margin-left: 50px;
	order: 1;
	align-self: flex-end;
	margin-bottom: 50px;
}

header a {
	text-decoration: none;
	color: #3498DB;
}

.entete{
	
	margin-right: 20px;
	text-align: right;
	padding: top;
	order: 3;
	text-decoration: none;
	color: #3498DB;
	
	
}
