@charset "UTF-8";





form 
{
	
	text-align: center;
}
section input{
	display: flex;
	align-content:flex-end;
	
	
}
section label{
	display: flex;
	align-content:flex-start;
	
}
.bouton{
	
	order: 3;
}

.premier
{
	display : inline-block;
	flex-direction: column;
    text-align : center;
    margin : 15px 15px 15px 15px;
    justify-content : space-between;
   
    margin: 15px 15px 15px 15px;
    
}

.deuxieme{
	display: inline-block;
	flex-direction: column;
    text-align: center;
    
    margin: 15px 15px 15px 15px;
    
    justify-content: space-between;
   
}
